<!doctype html>
<html lang="ko">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <!-- 구글폰트 -->
  <link href="https://fonts.googleapis.com/css2?family=Jua&display=swap" rel="stylesheet">

    <title>main page</title>

    <!-- style -->
    <style type="text/css">

        .notice {width:100%; height:70px; overflow:hidden; background-color:#fff;}
        .rolling {position:relative; width:100%; height:auto;}
        .rolling li {width:100%; height:70px; line-height:70px;}

        * {
            font-family: 'Jua', sans-serif;
        }
        .wrap {
            width: 900px;
            margin: auto;
        }
        .comment {
            color: blue;
            font-weight: bold;
        }
        .post-box {
            width: 500px;
            margin: 20px auto;
            padding: 50px;
            border: black solid;
            border-radius: 5px;
        }

    </style>
    <script>
        function go() {
            let nickname = $('#nickname').val();
            $.ajax({
                type: "POST",
                url: "/api/go",
                data: {
                    'nickname': nickname
                },
                success: function (response) {
                    if (response['result'] == 'success') {
                        window.location.reload()
                    }
                }
            })
        }

        function make(nickname) {
            let temp_html = `
	<article>
	  <a href='#'>${nickname}</a>
	  <h3></h3>
	</article>`
            return temp_html;
        }
        function show() {
            $('#articleBox').empty();
            $.ajax({
                type: "GET",
                url: "/api/top",
                data: {},
                success: function (response) {
                    let tasks = response['tasks_list']
                    for (let i = 0; i < tasks.length; i++) {
                        let task = tasks[i];

                        let code = article['category_code'];
                        let body = article['article_body'];

                        let append_one = make(nickname);

                        $('#articleBox').append(append_one);
                    }
                }
            });
        }
        $(document).ready(function(){
            var height =  $(".notice").height();
            var num = $(".rolling li").length;
            var max = height * num;
            var move = 0;
            function noticeRolling(){
                move += height;
                $(".rolling").animate({"top":-move},600,function(){
                    if( move >= max ){
                        $(this).css("top",0);
                        move = 0;
                    };
                });
            };
            noticeRollingOff = setInterval(noticeRolling,1000);
            $(".rolling").append($(".rolling li").first().clone());

        });
    </script>

</head>

    <body>
        <div class="wrap">
            <div class="jumbotron">
                <h1 class="display-4">◎오늘은 내가 실천왕◎</h1>
                <p class="lead">오늘의 할 일을 체크하고 실천왕이 되어봐요</p>
                <hr class="my-4">
                <p class="lead">
                </p>
            </div>
            <div id="cards-box" class="card-columns">
                <div class="card">
                    <div id="post-box" class="form-post">
                        <div>
                            <div class="form-group">
                                <label for="nickname">닉네임을 입력해서 시작해요</label>
                                <input id="nickname" class="form-control" placeholder="">
                                <button onclick="go()" id="btn-post" type="button" class="btn btn-primary">GO!</button>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="notice">
            <ul class="rolling">
                <li>
                    <a href="#">1등 누구누구</a>
                </li>
                <li>
                    <a href="#"> 2등 누구누구</a>
                </li>
                <li>
                    <a href="#">3등 누구누구</a>
                </li>
                <li>
                    <a href="#">4등 누구누구</a>
                </li>
                <li>
                    <a href="#">5등 누구누구</a>
                </li>
            </ul>
        </div>
    </body>
</html>